@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Manrope', sans-serif;

  --primary-color: #3761f3;
  --secondary-color: #f4f4f4;

  --bg: #f4f4f8;
  --text: #2f3144;

  --sidebar: #fff;
  --card: #fff;
}

:root {
  --ui-primary: var(--primary-color);
  --ui-secondary: var(--secondary-color);

  --ui-bg: var(--bg);
  --ui-text: var(--text);

  --ui-sidebar: var(--sidebar);
  --ui-card: var(--card);
}

body {
  @apply antialiased text-[var(--ui-text)] bg-[var(--ui-bg)];
}